h1 {
  font-family: 'Borel', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-family: 'Borel', cursive;
  font-family: 'Handjet', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-family: 'Borel', cursive;
  font-family: 'Handjet', cursive;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
